Package: com.matteozappia.edictus
Name: Edictus
Version: 1.0
Architecture: iphoneos-arm
Depends: uikittools, wallpaperloader
Description: Create your own Wallpapers!
Maintainer: aboutzeph & Soongyu Kwon <aboutzeph@gmail.com>
Author: aboutzeph & Soongyu Kwon <aboutzeph@gmail.com>
Section: Tweaks