Package: com.matteozappia.edictus
Name: Edictus
Version: 1.0
Architecture: iphoneos-arm
Depends: uikittools
Description: Create custom dynamic wallpapers!
Maintainer: aboutzeph <aboutzeph@gmail.com>
Author: aboutzeph <aboutzeph@gmail.com>
Section: Utilities