<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>appearanceAware</key>
<true/>
<key>darkImage</key>
<string>Dark.png</string>
<key>defaultImage</key>
<string>Light.png</string>
<key>thumbnailImage</key>
<string>Thumbnail.jpg</string>
<key>wallpaperType</key>
<integer>0</integer>
</dict>
</plist>